.header {
  padding: 1.2rem 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
}

.full-width {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.actions {
  margin: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}

@media only screen and (width < 48em) {
  .header {
    padding: 0;
  }
}
