.search-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 1.6rem 1.6rem 0;

  button {
    margin: 1rem 1.6rem 0 0.8rem;
  }

  .search {
    flex: 1 1;
  }
}

.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.image-card {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 25rem;
    cursor: pointer;

    &:hover {
    }
  }
  button {
    position: absolute;
    z-index: 100;
    bottom: 1rem;
    right: 1rem;
  }
}
