<div class="toolbar">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search by tag" [(ngModel)]="searchTag" (input)="search()" />
  </mat-form-field>
  <button mat-button (click)="resetSearch()">Reset</button>

  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="sortOption" (selectionChange)="sortImages()">
      <mat-option value="name">Name</mat-option>
      <mat-option value="date">Date</mat-option>
      <mat-option value="size">Size</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload Image</button>
</div>

<div class="gallery">
  <div class="image-card" *ngFor="let image of images">
    <img [src]="image.url" (click)="openTagDialog(image)" />
    <div class="tags">
      <mat-chip-listbox>
        <mat-chip (click)="openTagDialog(image)">
          <mat-icon>add</mat-icon>
        </mat-chip>
        <mat-chip *ngFor="let tag of image.tags | tags; let i = index" (click)="openTagDialog(image)">
          {{ tag }}
          <mat-icon matChipRemove *ngIf="i !== 2">cancel</mat-icon>
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>
