<div>
  <mat-form-field>
    <input
      matInput
      placeholder="Search tags"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select
      placeholder="Sort by"
      [(ngModel)]="sortBy"
      (selectionChange)="onSort()"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="date">Date</mat-option>
      <mat-option value="size">Size</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="resetSearch()">Reset</button>

  <div class="gallery">
    <div *ngFor="let image of filteredImages" class="image-card">
      <img [src]="image.url" alt="{{ image.name }}" />
      <div class="tags">{{ image.tags.join(", ") }}</div>
    </div>
  </div>
</div>
